body {
  background-color: hsl(0, 0%, 23%);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.nav-right a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}
.nav-right span {
  color: #fff;
}
.account-image img {
  width: 40px;
  border-radius: 50%;
}
.nav-left {
  width: 70%;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 100%;
  height: 150px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.image img {
  width: 50%;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fff;
  border-radius: 999px;
  padding: 20px 30px;
  width: 80%;
  height: 30px;
  margin: 0 auto;
}
.search input {
  width: 90%;
  height: 50px;
  border: none;
  font-size: 20px;
}
.tile-history {
  margin: auto;
  width: 70%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 30px;
}
.tile-history a {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 60px;
}
.tile-history a:hover {
  color: rgba(14, 145, 233, 0.783);
  transition: background-color 3s;
  background-color: #fff;
  border-radius: 40%;
}
footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.foot {
  width: 28%;
  height: 40px;
  background-color: rgb(48, 46, 46);
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foot a,
.foot .material-icons {
  color: rgba(54, 139, 235, 0.783);
}
.foot label {
  color: rgba(14, 145, 233, 0.783);
  background-color: hsl(0, 0%, 23%);
  border: none;
}
